<!DOCTYPE html>
<html>
    <head>
        <title>Connect 4</title>
        <link rel="icon" 
      type="image/png" 
      href="{{ url_for('static', filename='verify.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>

    <body>

        <h1 id = "gameState">P1 Connected</h1>

        <div class = "board">
            <table>
                <tr>
                    <td class = "slot col1"></td>
                    <td class = "slot col2"></td>
                    <td class = "slot col3"></td>
                    <td class = "slot col4"></td>
                    <td class = "slot col5"></td>
                    <td class = "slot col6"></td>
                    <td class = "slot col7"></td>

                </tr>
                <tr>
                    <td class = "slot col1"></td>
                    <td class = "slot col2"></td>
                    <td class = "slot col3"></td>
                    <td class = "slot col4"></td>
                    <td class = "slot col5"></td>
                    <td class = "slot col6"></td>
                    <td class = "slot col7"></td>

                </tr>
                <tr>
                    <td class = "slot col1"></td>
                    <td class = "slot col2"></td>
                    <td class = "slot col3"></td>
                    <td class = "slot col4"></td>
                    <td class = "slot col5"></td>
                    <td class = "slot col6"></td>
                    <td class = "slot col7"></td>

                </tr>
                <tr>
                    <td class = "slot col1"></td>
                    <td class = "slot col2"></td>
                    <td class = "slot col3"></td>
                    <td class = "slot col4"></td>
                    <td class = "slot col5"></td>
                    <td class = "slot col6"></td>
                    <td class = "slot col7"></td>

                </tr>
                <tr>
                    <td class = "slot col1"></td>
                    <td class = "slot col2"></td>
                    <td class = "slot col3"></td>
                    <td class = "slot col4"></td>
                    <td class = "slot col5"></td>
                    <td class = "slot col6"></td>
                    <td class = "slot col7"></td>

                </tr>
                <tr>
                    <td class = "slot col1"></td>
                    <td class = "slot col2"></td>
                    <td class = "slot col3"></td>
                    <td class = "slot col4"></td>
                    <td class = "slot col5"></td>
                    <td class = "slot col6"></td>
                    <td class = "slot col7"></td>

                </tr>
            </table>
        </div>
    </body>

</html>