<!DOCTYPE html>
<html>
    <head>
        <title>Connect 4</title>
        <link rel="icon"
      type="image/png"
      href="{{ url_for('static', filename='verify.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>

    <body>

        <div id = "gametags">

            <h1 id ="Message">{{status}}</h1>
            <p id = "status">{{status}}</p>

        </div>


        <div class = "board">
            <table>
                <tr>
                    <td onclick = "move(event)" class = "slot col1"></td>
                    <td onclick = "move(event)" class = "slot col2"></td>
                    <td onclick = "move(event)" class = "slot col3"></td>
                    <td onclick = "move(event)" class = "slot col4"></td>
                    <td onclick = "move(event)" class = "slot col5"></td>
                    <td onclick = "move(event)" class = "slot col6"></td>
                    <td onclick = "move(event)" class = "slot col7"></td>

                </tr>
                <tr>
                    <td onclick = "move(event)" class = "slot col1"></td>
                    <td onclick = "move(event)" class = "slot col2"></td>
                    <td onclick = "move(event)" class = "slot col3"></td>
                    <td onclick = "move(event)" class = "slot col4"></td>
                    <td onclick = "move(event)" class = "slot col5"></td>
                    <td onclick = "move(event)" class = "slot col6"></td>
                    <td onclick = "move(event)" class = "slot col7"></td>

                </tr>
                <tr>
                    <td onclick = "move(event)" class = "slot col1"></td>
                    <td onclick = "move(event)" class = "slot col2"></td>
                    <td onclick = "move(event)" class = "slot col3"></td>
                    <td onclick = "move(event)" class = "slot col4"></td>
                    <td onclick = "move(event)" class = "slot col5"></td>
                    <td onclick = "move(event)" class = "slot col6"></td>
                    <td onclick = "move(event)" class = "slot col7"></td>

                </tr>
                <tr>
                    <td onclick = "move(event)" class = "slot col1"></td>
                    <td onclick = "move(event)" class = "slot col2"></td>
                    <td onclick = "move(event)" class = "slot col3"></td>
                    <td onclick = "move(event)" class = "slot col4"></td>
                    <td onclick = "move(event)" class = "slot col5"></td>
                    <td onclick = "move(event)" class = "slot col6"></td>
                    <td onclick = "move(event)" class = "slot col7"></td>

                </tr>
                <tr>
                    <td onclick = "move(event)" class = "slot col1"></td>
                    <td onclick = "move(event)" class = "slot col2"></td>
                    <td onclick = "move(event)" class = "slot col3"></td>
                    <td onclick = "move(event)" class = "slot col4"></td>
                    <td onclick = "move(event)" class = "slot col5"></td>
                    <td onclick = "move(event)" class = "slot col6"></td>
                    <td onclick = "move(event)" class = "slot col7"></td>

                </tr>
                <tr>
                    <td onclick = "move(event)" class = "slot col1"></td>
                    <td onclick = "move(event)" class = "slot col2"></td>
                    <td onclick = "move(event)" class = "slot col3"></td>
                    <td onclick = "move(event)" class = "slot col4"></td>
                    <td onclick = "move(event)" class = "slot col5"></td>
                    <td onclick = "move(event)" class = "slot col6"></td>
                    <td onclick = "move(event)" class = "slot col7"></td>

                </tr>
            </table>
        </div>
        <script src="{{ url_for('static', filename = 'p2_connect.js') }}"></script>
    </body>

</html>